* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #32a093,
        #32a093 15%,
        #dee0da 15%,
        #dee0da 100%);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/*********************  UTILITIES  **********************/

.container {
    width: 80%;
    min-width: 900px;
    max-width: 1200px;
    height: 90%;
    background-color: #fff;
}

.flex {
    display: flex;
}

.flex.f-column {
    flex-direction: column;
}

.flex.just-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

/* special gray text */
.subtext {
    color: #777e82;
    font-size: 13px;
}

/**************COMPOUND*************/

/* headers and footer */
.chat_list--header,
.chat_content--header,
.chat_content--footer {
    height: 70px;
    padding: 20px;
    background-color: #ededed;
}

/* avatar style */
.users-avatar {
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

/*****************************ASIDE*******************************/
/**** left aside****/
.chat_list {
    flex-basis: 33%;
    border-right: 1px solid lightgray;
    overflow-y: auto;
}

/* main section with chat list */
.chat_list--main {
    flex-grow: 1;
}

/* action-icons in chat list header */
.chat_header--actions {
    width: 100px;
}

.chat_header--actions .action-icon {
    color: #bababa;
    transition: color 0.2s;
    font-size: 20px;
}

.action-icon:hover {
    color: #32a093;
}

/* div with light warning (reactivate notifications) */
.light-warning {
    background-color: #a2dffe;
    height: 80px;
    padding: 20px;
}

/* specific style for light-warnign div */
.subtext.notif {
    text-decoration: underline;
    font-weight: bold;
}

.light-warning .notifications-icon {
    color: #a2dffe;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 50px;
    width: 50px;
    text-align: center;
    margin-right: 15px;
}

/* search */
.chat_list--search {
    height: 50px;
    background-color: #fbfbfb;
    padding: 5px 10px;
}

.chat_list--search i{
    color: #bec1c3;
    background-color: #fff;
    padding: 12px 20px;
    border: 1px solid rgba(0,0,0,0.05);
    border-right: none;
}

.chat_list--search input {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px;
}

.chat_list--search input::placeholder {
    color: lightgray;
}

/* chat list */
.chat_list--list {
    padding: 20px;
}

/* chat item in list */
.chat_list--chat {
    height: 80px;
    cursor: pointer;
}

.chat_list--chat:hover {
    background-color: rgba(162, 223, 254, 0.08);
}

.chat_list--chat.active {
    background-color: rgba(162, 223, 254, 0.2);
}

.chat_list--chat:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

/* avatar in chat list */
.chat_list--chat .users-avatar {
    height: 60px;
}

/* *******************   MAIN CONTENT - RIGHT SIDE   ******************/

/* right side with chat content */
.chat_content--wrap {
    flex-grow: 1;
    overflow-y: auto;
    background-image: url("../img/mine.jpg");
    scrollbar-width: thin;
    scroll-behavior: smooth;
}


.chat_content {
    flex-grow: 1;
    flex-basis: 67%;
}

.chat_content--content {
    padding: 50px 80px;
    padding-bottom: 0px;
}

/* Bubble that contain text messagge */
.message {
    padding: 20px;
    min-width: 200px;
    max-width: 350px;
    border-radius: 10px;
    overflow-wrap: anywhere;
    margin-bottom: 20px;
}

/* style for sent message */
.message.sent {
    align-self: end;
    background-color: #ddfabf;
}

/* style for received message */
.message.received {
    align-self: start;
    background-color: #fff;
}

/* message info/sending time */
.message--info {
    margin-top: 5px;
    color: rgb(148, 148, 148);
    font-size: 12px;
    align-self: end;
}

/* area with input for chatting, emoticon and mic */
.chat_content--footer {
    background-color: #f4f0ed;
    padding-left: 0;
    padding-right:0;
}

/* Main input for chatting */
.inputTextChat {
    flex-grow: 1;
    height: 50px;
    background-color: #fbfbfb;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 2px;
}

.inputTextChat::placeholder {
    color: gray;
}

/* emoticon and mic icons near to main input */
.chat_content--footer .footer--icon {
    width: 100px;
    text-align: center;
    font-size: 25px;
    color: gray;
}

.emoji_panel {
    flex-wrap: wrap;
    padding: 10px;
    overflow-y: auto;
    max-height: 130px;
    border-top: 2px solid #ffe196;
    scrollbar-width: thin;
    background-color: #f5f5f5;
}

.emoji_item {
    font-size: 20px;
    width: calc(100% / 18);
    margin-bottom: 10px;
    text-align: center;
}
