* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* Utilities */
.flex {
    display: flex;
}

.flex.f-column {
    flex-direction: column;
}

.flex.just-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

body {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #32a093,
        #32a093 15%,
        #dee0da 15%,
        #dee0da 100%);
}

.container {
    width: 80%;
    min-width: 900px;
    height: 90%;
    background-color: #fff;
}

/* left aside with chat list */
.chat_list {
    flex-basis: 35%;
    border-right: 1px solid lightgray;
}

/* right side with chat content */
.chat_content {
    flex-grow: 1;
}

.chat_content-content {
    flex-grow: 1;
    background-color: green;
}

.chat_list-content {
    background-color: yellow;
    flex-grow: 1;
}

.chat_list-header,
.chat_content-header,
.chat_content-footer {
    height: 70px;
    padding: 20px;
    background-color: #ededed;
}

/*  */
.users-avatar {
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

/* action-icons in chat list header */
/* TODO action icon hover */
.chat_header-actions {
    width: 100px;
}

.chat_header-actions .action-icon {
    color: #bababa;
    font-size: 20px;
}

/* special gray text */
.subtext {
    color: #777e82;
    font-size: 13px;
}
/* specific style for light-warnign div */
.subtext.notif {
    text-decoration: underline;
    font-weight: bold;
}

/* div with light warning (reactivate notifications) */
.light-warning {
    background-color: #a2dffe;
    height: 80px;
    padding: 20px;
}

.light-warning .notifications-icon {
    color: #a2dffe;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 50px;
    width: 50px;
    text-align: center;
    margin-right: 15px;
}