<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet"> 
    <!-- fontawesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>
    <!-- style -->
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
</head>
<body class="flex just-center align-center">
    
    <div id="app" class="container flex">
        <!-- ASIDE chat list -->
        <aside class="chat_list flex f-column">
            <!-- chat list header -->
            <header class="chat_list--header flex align-center space-between">

                <!-- user image and name -->
                <div class="chat_list--user flex align-center">
                    <img class="users-avatar" src="./img/avatar_io.jpg" alt="user avatar">
                    <span class="user-name">Nome utente</span>
                </div>
                <!-- actions -->
                <div class="chat_header--actions flex space-between">
                    <a href="#"><i class="fas fa-circle-notch action-icon"></i></a>     <!-- update status -->
                    <a href="#"><i class="fas fa-comment-alt action-icon"></i></a>      <!-- new chat -->
                    <a href="#"><i class="fas fa-ellipsis-v action-icon"></i> </a>      <!-- menu -->
                </div>

            </header>

            <!-- chat list content -->
            <main class="chat_list--main">

                <!-- warning for disabled notifications -->
                <div class="light-warning flex align-center">               
                    <i class="fas fa-bell-slash notifications-icon"></i>     <!-- notification icon -->
                    <div class="text-subtext flex f-column">
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <a class="subtext notif">Attiva notifiche desktop</a>
                    </div>
                </div>

                <!-- search -->
                <div class="chat_list--search flex just-center align-center">

                    <a href="#"><i class="fas fa-search"></i></a>
                    <!-- search contact in chat list -->
                    <input type="text" placeholder="cerca o inizia una nuova chat"
                    v-model = "searchContact" @keyup = "search">
                    
                </div>

                <!-- chat list -->
                <div class="chat_list--list">
                    <ul>

                        <!-- chat item -->
                        <li class="chat_list--chat flex align-center"
                        v-for="(contact, index) in contacts" @click="getContactIndex(index)" :class="{ active: selectedIndex == index }"
                        v-if = "contact.visible">

                            <img class="users-avatar" :src="'./img/avatar' + contact.avatar +'.jpg'" alt="user avatar">
                            <span class="user-name">{{contact.name}}</span>

                        </li>

                    </ul>
                </div>
                
            </main>
        </aside>
        
        <!-- content -->
        <main class="chat_content flex f-column">
            <!-- header -->
            <header class="chat_content--header flex align-center space-between">

                <!-- user image and name -->
                <div class="chat_content--user flex align-center">
                    <img class="users-avatar" :src="'./img/avatar' + contacts[selectedIndex].avatar +'.jpg'" alt="user avatar">
                    <div class="text-subtext flex f-column">
                        <span class="user-name">{{contacts[selectedIndex].name}}</span>
                        <span class="user-lastlogin subtext">Ultimo accesso {{lastLoginSelected}}</span>
                    </div>
                </div>
                <!-- actions -->
                <div class="chat_header--actions flex space-between">
                    <a href="#"><i class="fas fa-search action-icon"></i></a>           <!-- search -->
                    <a href="#"><i class="fas fa-paperclip action-icon"></i></a>        <!-- attach file -->
                    <a href="#"><i class="fas fa-ellipsis-v action-icon"></i></a>       <!-- menu -->
                </div>

            </header>

            <!-- content -->
            <main class="chat_content--content flex f-column">

                <!-- message in chat -->
                <div class="message flex f-column"
                v-for="message in contacts[selectedIndex].messages" :class="message.status">
                    <!-- text message -->
                    <span class="message--text">
                        {{message.message}}
                    </span>
                    <!-- message info/sending time -->
                    <span class="message--info">{{message.date}}</span>
                </div>

            </main>

            <!-- footer -->
            <footer class="chat_content--footer flex align-center space-between">

                <!-- emoticon menu -->
                <a href="#"><i class="far fa-smile footer--icon"></i></a>
                <!-- Chat input text -->
                <input class="inputTextChat" type="text" placeholder="Scivi un messaggio"
                v-model.trim = "myMessage" v-on:keyup.enter="submit">
                   <!-- mic icon -->
                <a href="#"><i class="fas fa-microphone footer--icon"></i></a>
                
            </footer>


        </main>

    </div>





    <!------- DAYJS ------->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
    <!-- locale -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/locale/it.js"></script>
    <!-- relative time -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/plugin/relativeTime.js"></script>

    <!-- js -->
    <script src="./js/script.js"></script>
</body>
</html>